<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lefu.ppblutoothkit">
    <!-- 蓝牙相关权限 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 存储相关权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.lefu.ppblutoothkit.PPApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".device.SetHostActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lefu.ppblutoothkit.calculate.BodyDataDetailActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.calculate.BodyDataStateActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.devicelist.ScanDeviceListActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.UserinfoActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" /> <!-- Calculate -->
        <activity
            android:name="com.lefu.ppblutoothkit.calculate.CalculateManagerActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.calculate.Calculate4DCActivitiy"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.calculate.Calculate4ACActivitiy"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.calculate.Calculate8Activitiy"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.calculate.Calculate4AC2ChannelActivitiy"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Torre-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.torre.PeripheralTorreConfigWifiActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.device.torre.PeripheralTorreSearchWifiListActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralTorreActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralDorreActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralBorreActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralForreActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Apple-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralAppleActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Banana-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralBananaActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Coconut-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralCoconutActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Dutian-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralDurianActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Egg-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralEggActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Fish-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralFishActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Grapes-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralGrapesActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Hamburger-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralHamburgerActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Ice-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralIceActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <!--Jambul-->
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralJambulActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lefu.ppblutoothkit.device.PeripheralLorreActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".device.apple.BleConfigWifiActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".device.apple.WifiBodyDataDetailActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".device.apple.WifiDataListActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />

        <activity
            android:name=".log.LogActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />

        <activity
            android:name=".filter.FilterNameActivity"
            android:theme="@style/AppTheme.Immersive"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>