<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lefu.ppscale.ble">
    <!--蓝牙相关权限-->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--存储相关权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.lefu.ppblutoothkit.PPApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.lefu.ppblutoothkit.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.lefu.ppblutoothkit.calculate.BodyDataDetailActivity" />
        <activity android:name="com.lefu.ppblutoothkit.devicelist.ScanDeviceListActivity" />
        <activity android:name=".userinfo.UserinfoActivity" />

        <!--Calculate-->
        <activity android:name="com.lefu.ppblutoothkit.calculate.CalculateManagerActivity" />
        <activity android:name="com.lefu.ppblutoothkit.calculate.Calculate4DCActivitiy" />
        <activity android:name="com.lefu.ppblutoothkit.calculate.Calculate4ACActivitiy" />
        <activity android:name="com.lefu.ppblutoothkit.calculate.Calculate8Activitiy" />

        <!--Torre-->
        <activity android:name="com.lefu.ppblutoothkit.device.torre.PeripheralTorreConfigWifiActivity" />
        <activity android:name="com.lefu.ppblutoothkit.device.torre.PeripheralTorreSearchWifiListActivity" />
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralTorreActivity" />
        <!--Apple-->
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralAppleActivity" />
        <!--Banana-->
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralBananaActivity" />
        <!--Coconut-->
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralCoconutActivity" />
        <!--Dutian-->
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralDutianActivity" />
        <!--Egg-->
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralEggActivity" />
        <!--Fish-->
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralFishActivity" />
        <!--Grapes-->
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralGrapesActivity" />
        <!--Hamburger-->
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralHamburgerActivity" />
        <!--Ice-->
        <activity android:name="com.lefu.ppblutoothkit.device.PeripheralIceActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_share_img" />
        </provider>

    </application>

</manifest>